.alert {
  box-shadow: 0 0 89px 18px rgb(0, 0, 0, 0.5) !important;
  animation-name: alert;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

@keyframes alert {
  from {
    opacity: 0;
    top: 0;
  }
  to {
    opacity: 1;
    top: 80px;
  }
}
